header{
    background-color: #d6bcf77a;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.596);
}
#teksti{
    height: auto;
    
}
div, p{
    background-color: #f7bcbe6c;
    height: fit-content;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: bold;
}
p{
    padding: 1.4vw;
}
footer{
    background-color:#D6A3BE ;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 5px;
    height: 2rem; font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(51, 3, 39, 0.815);
}
body{
    background: rgb(103,43,102);
    background: linear-gradient(90deg, rgba(103,43,102,1) 0%, rgba(236,192,237,1) 48%, rgba(122,107,148,1) 98%);
    font-family: Montserrat-ExtraLight;
}
#joke, #weather, #img{
    margin: 1,5vw;
    width: 30vw;
    height: fit-content;    
}
#textarea{
    margin: 1vw;
    background-color: #f7bcbe10;
    display: flex;
    justify-content: space-evenly;
    border: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(224, 64, 64);
    font-size: 1.2em;
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(suunnittelu/Montserrat-ExtraLight.ttf);
  }